<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Certificado Alumno Regular</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .body {
          display: flex;
          flex-direction: column;
      }

      .content {
        flex: 1; 
        padding: 20px;
      }

      .text-center {
        text-align: center;
      }

      .tabla {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 10px;
      }

      .tabla td, .tabla th {
        border: 1px solid black;
        padding: 3px;
        font-size: small;
      }

      .tabla th {
        background-color: #f2f2f2;
      }

      .separacion {
        overflow: auto;
        margin-bottom: 20px;
      }

      .tabla2 {
        border-collapse: collapse;
        width: 48%;
        margin: 1%;
        float: left;
      }

      .tabla2 th {
        background-color: #f2f2f2;
      }

      .justificar {
        text-align: justify;
        font-size: large;
      }
      .timbre{
        width: 10%;
      }

      .signature-block {
      display: flex;
      justify-content: space-between;
      margin-top: 200px;
      position: relative; /* Para posicionar el logo sobre la línea */
      }

      .block {
        text-align: center;
        position: relative;
        margin-top: 200px;
      }

      .block img {
        width: 100px;
        position: absolute;
        left: 48%;
        transform: translateX(-10%) translateY(-40%);
      }

      .block p {
        margin: 5px 0;
      }

      .line {
        border-bottom: 1px solid black;
        width: 250px; /* Ajusta el ancho de la línea */
        margin: 0 auto;
        padding-top: 10px; /* Espacio entre la línea y el contenido superior */
      }

      @media print {
       .contenidoCabeza {
          top: 0;
          width: 100%;
          position: fixed;
        }

        .cabeza {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: bolder;
        }

        .cabeza img {
            max-width: 5%;
            margin-right: 50px;
            height: auto;
        }

        .content {
          margin-top: 50px;
        }

        .pies {
          position: fixed;
          bottom: 0;
          width: 100%;
          font-size: xx-small;
          font-weight: bolder;
          text-align: center;
        }

        {{!-- table, tr, td, th {
          page-break-inside: avoid;
        } --}}

        .page-break {
          page-break-after: always;
        }
      }

      .qr-container {
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: 200px;
      }

      .qr-container img {
        margin-right: 15px;
      }

      .qr-text {
        font-size: small;
      }

    </style>
  </head>
  <body>
      <div class="contenidoCabeza">
          <div class='cabeza'>
            <p>Educando con Amor</p>
            <img
              class='logo'
              src='https://www.colegioandeschile.cl/img/LOGO.png'
              alt='Andes Chile Colegio'
            />
          </div>
        <hr />
      </div>

    <div class='content'>
      <h3 class='text-center'>CERTIFICADO ALUMNO REGULAR</h3>
      <br />

      <p class="justificar">
        Los Andes a <span id="current-date"></span>, el señor Alfredo Gallegos Ávila, 
        director del <b>Colegio Particular Andes Chile</b>, certifica que 
        <b>
          {{#if primer_nombre_alumno}}{{primer_nombre_alumno}}{{else}}{{primerNombreAlumno}}{{/if}} 
          {{#if segundo_nombre_alumno}}{{segundo_nombre_alumno}}{{else}}{{segundoNombreAlumno}}{{/if}} 
          {{#if primer_apellido_alumno}}{{primer_apellido_alumno}}{{else}}{{primerApellidoAlumno}}{{/if}} 
          {{#if segundo_apellido_alumno}}{{segundo_apellido_alumno}}{{else}}{{segundoApellidoAlumno}}{{/if}}, 
          RUT: {{#if formatRut}}{{formatRut rut}}{{else}}{{rut}}{{/if}}-{{dv}}</b>, con registro de matrícula 
        <b>N°{{#if numero_matricula}}{{numero_matricula}}{{else}}{{certificateNumber}}{{/if}}.</b>
      </p>
      <p class="justificar">Está matriculado(a) como alumno(a) regular para el año lectivo <b><span id="current-year"></span></b> en el nivel <b>{{getCursoName curso}} - {{getCursoNameType curso}}.</b></p>
      <p class="justificar">Nuestro establecimiento educacional se encuentra ubicado en <b>Manuel Rodríguez N° 1064 en la ciudad de Los Andes</b>, y su <b>RBD</b> es: <b>14762-1.</b></p>
      <p class="justificar">Se extiende el presente certificado a solicitud del apoderado(a) del alumno(a), para fines que estime conveniente. </p>

      <div class="block">
        <img class="firma" src="https://www.colegioandeschile.cl/img/firma.png" style="width: 35%; position: absolute; left: 30%; top: -12%" alt="Andes Chile Colegio"/>
        <img class="timbre" src="https://www.colegioandeschile.cl/img/timbre.png" alt="Andes Chile Colegio"/>
        <div class="line"></div>
        <p style="font-size: medium;"><b>Alfredo Gallegos Ávila</b></p>
        <p style="font-size: small;"><b>Director Académico</b></p>
        <p style="font-size: small;"><b>Colegio Andes Chile</b></p>
      </div>

      <div class="qr-container">
        <img src="{{qrCode}}" alt="QR Code de Validación" width="100" height="100"/>
        <div class="qr-text">
          <p><b>Para validar este certificado dirigirse a:</b></p>
          <p><b>www.colegioandeschile.cl/validar-certificado</b></p>
          <p><b>Ingresar código de validación: {{newValidationId}}</b></p>
        </div>
      </div>


    <div class='pies'>
      <hr />
      <p>Rodríguez 1064. Los Andes. Tel.: 342402858. Mail:colegioandeschile@gmail.com</p>
      <p>www.colegioandeschile.cl</p>
    </div>
  </body>

  <script>
    // Obtener la fecha actual
    const today = new Date();

    const formattedDate = new Intl.DateTimeFormat('es-CL', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric'
    }).format(today);

    document.getElementById('current-date').textContent = formattedDate;


    const currentYear = new Date().getFullYear();
    document.getElementById('current-year').textContent = currentYear;

  </script>
</html>